<!DOCTYPE html>
{% load static %}
<html>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <title>NemLi</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">NemLi</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Sair</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>


          <div class="w-25 p-3">
            <figure class="figure">
            <img src="https://bibliotecaucs.files.wordpress.com/2015/04/c0f3d-bb_cb_4.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption"></figcaption>
          </figure>
        </div>

          

    
            
            <footer class="container-fluid text-center footer">
                <span class="text-muted">@ 2019 <a href="https://github.com/paullarachel">Rachel.</a></span>
                <span class="text-muted">Feito com <a href="https://getbootstrap.com/">Bootstrap</a> e framework<a href="https://www.djangoproject.com/"> Django.</a></span>
                <span class="text-muted"><a href="https://bootswatch.com/">Tema.</a></span>  
              </footer>
            
    </body>
</html>