<!DOCTYPE html>
{% load static %}
<html>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <title>NemLi</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">NemLi</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Sair</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>

        
          <br>
          
        <div class="container">
          <div class="row">
            <div class="col-sm">
                <h2>Bem vindo(a), {{user.username}}. Aqui estão todos os seus livros...</h2>
                <hr>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Modal">
                    + Adicionar
                </button>   
              <div class="w-25 p-3">
                <figure class="figure">
                <img src="https://bibliotecaucs.files.wordpress.com/2015/04/c0f3d-bb_cb_4.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption"></figcaption>
                </figure>
              </div>
            </div>           
          </div>
        </div>


        <div class="modal" id="Modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Novo livro</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form action=" " method="POST"> {%csrf_token%}
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Nome:</label>
                            <input type="text" name="nome" class="form-control" placeholder="" id="nome" required>
                        </div>
                        <div class="form-group">
                            <label for="inputDefault">Isbn (13):</label>
                            <input type="text" onchange="GetDataISBN(this.value);" name="isbn_13" id="isbn_13" class="form-control" placeholder="" required autofocus>     
                       </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Autor:</label>
                            <input type="text" name="autor" class="form-control" placeholder="" id="autor" required>
                        </div>        
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Editora:</label>
                            <input type="text" name="ano" class="form-control" placeholder="" id="editora" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Capa:</label>
                            <input type="text" name="ano" class="form-control" placeholder="" id="capa" required>
                        </div>    
                        <div class="form-group">
                            <label for="exampleTextarea">Sinopse:</label>
                            <textarea class="form-control" name="sinopse" id="sinopse" rows="3"></textarea>
                        </div>                 
                </div>
                <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Enviar</button>                            
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
              </form>
              </div>
            </div>
          </div>
          
            
            <footer class="container-fluid text-center footer">
                <span class="text-muted">@ 2019 <a href="https://github.com/paullarachel">Rachel.</a></span>
                <span class="text-muted">Feito com <a href="https://getbootstrap.com/">Bootstrap</a> e framework<a href="https://www.djangoproject.com/"> Django.</a></span>
                <span class="text-muted"><a href="https://bootswatch.com/">Tema.</a></span>  
              </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
            /*function getBookDetails(isbn) {
  
               // Query the book database by ISBN code.
  
              var url = "https://www.googleapis.com/books/v1/volumes?q=isbn:" + isbn;
  
              var response = UrlFetchApp.fetch(url);
              var results = JSON.parse(response);
  
              if (results.totalItems) {
    
              // There'll be only 1 book per ISBN
              var book = results.items[0];
    
              document.getElementById('nome') = (book["volumeInfo"]["title"]);
              document.getElementById('autor') = (book["volumeInfo"]["authors"]);
              document.getElementById('editora') = (book["volumeInfo"]["publisher"]);
              var thumb = (book["volumeInfo"]["imageLinks"]["thumbnail"]);
              thumb = thumb.replace("zoom=1", "zoom=0");
              document.getElementById('capa').value=(thumb);
   
              // For debugging
             Logger.log(book);
            } 
          }*/

          function GetDataISBN(isbn){
        var element;
        var script = document.createElement('script');
        script.src = 'https://www.googleapis.com/books/v1/volumes?callback=GetInfo&q=isbn:' + isbn;
        document.body.appendChild(script);
    }

          function GetInfo(booksInfo){
        if (booksInfo.totalItems > 0){
            var livroInfo = booksInfo.items[0];
            document.getElementById('editora').value=(livroInfo.volumeInfo.publisher);
            document.getElementById('nome').value=(livroInfo.volumeInfo.title);
            var thumb = livroInfo.volumeInfo.imageLinks.thumbnail;
            thumb = thumb.replace("zoom=1", "zoom=0");
            document.getElementById('capa').value=(thumb);
            for (identificador in livroInfo.volumeInfo.industryIdentifiers){
                console.log(livroInfo.volumeInfo.industryIdentifiers[identificador]);
                
                document.getElementById('isbn_13').value=(livroInfo.volumeInfo.industryIdentifiers[identificador].identifier);
                
            }

           
            document.getElementById('sinopse').value=(livroInfo.volumeInfo.description);
            
            
        }
    }
                      
        </script>
    </body>
</html>

            
    </body>
</html>