{% extends 'gerenciador/inicio.html' %}
{% block conteudo %}
{% load static %}


    
 
<div class="container">

    {% block titulo %}
    <div classs="row">
        {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>{{msg.message}}</strong>
        </div>
        {% endfor %}
        {% endif %}
      <div class="col-sm">
          <h2>Todos os seus livros</h2>
          <hr>
      </div>  
    </div>
    {% endblock %}
  <div class="row">
    {% if livro_list %}
    {% for livro in livro_list %}
    <div class="col-sm-3">
      <div class="">
        <a href="{% url 'gerenciador:visualizarLivro' livro.id %}"><img style="width:200px;height:300px;" src="{{livro.capa}}" alt="{{livro.nome}}"
            class=" rounded img-thumbnail"></a>


      </div>
      <a href="{% url 'gerenciador:excluirLivro' livro.id %}"><button type="button" class="btn btn-danger btn-sm">Excluir</button></a>
      <!--button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#edicao_estado_{{ livro.id }}">Editar</button-->
    </div>
    {% endfor %}
    {% else %}
    <p>Não há livros cadastrados.</p>
    {% endif %}
  </div>

  



{% endblock %}