{% extends 'gerenciador/inicio.html' %}
{% block conteudo %}

<div class="container">
    <div class="row">
        <div class="col-sm">
          <div class="">
            <img style="width:350px;height:550px;"
                src="{{livro.capa}}" alt="{{livro.nome}}" class=" rounded img-thumbnail">
            <br>
          </div>
        </div>
      
          <div class="col-sm">
            <div class="">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><h3>{{livro.nome}}</h3></li>
                <li class="list-group-item">{{livro.sinopse}}</li>
                <li class="list-group-item">Autor: {{livro.autor}}</li>
                <li class="list-group-item">Editora: {{livro.editora}}</li>
                <li class="list-group-item">ISBN: {{livro.isbn_13}}</li>
                <li class="list-group-item">{{livro.estado}}</li>               
              </ul>
              <br>
            </div>
          </div>
        </div>
</div>
{% endblock %}